    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a class="user_popup" href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
                {% if post.language and post.language != g.locale %}
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                'post{{ post.id }}',
                                'translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
                <br><br>

                <!-- Like and Dislike Section -->
                <p>
                    Likes: <span id="likes-{{ post.id }}">{{ post.likes }}</span>
                    Dislikes: <span id="dislikes-{{ post.id }}">{{ post.dislikes }}</span>
                </p>
                <button onclick="likePost('{{ post.id|int }}')">Like</button>
                <button onclick="dislikePost('{{ post.id|int }}')">Dislike</button>

            </td>
        </tr>
    </table>

    <script>
        function likePost(postId) {
          fetch(`auth/post/${postId}/like`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
              document.getElementById(`likes-${postId}`).innerText = data.likes;
              document.getElementById(`dislikes-${postId}`).innerText = data.dislikes;
            })
            .catch(error => console.error('Error:', error));
        }
      
        function dislikePost(postId) {
          fetch(`auth/post/${postId}/dislike`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
              document.getElementById(`likes-${postId}`).innerText = data.likes;
              document.getElementById(`dislikes-${postId}`).innerText = data.dislikes;
            })
            .catch(error => console.error('Error:', error));
        }
      </script>
      